<h1><center> Welcome to Auction </center></h1>

<center>PLAYER TO BID IS:- <%= @player.name %> </center><br/><br/>
<h3><center> Base Price:- <%= @player.format_indian_number(@player.base_price) %> </center></h3>